<div class="container">
    
    <%- include('../partials/tasksHeader'); %>

  <div class="top_bar">
    <div class="categories_tabs">
      <ul>
        <li data-status="progress" class="active">Выполняются</li>
        <li data-status="sentToConfirm">Отправленные на подтв.</li>
      </ul>
    </div>
    <div class="payment">
      <div class="btn btn_gold">Вывод стредств</div>
    </div>
  </div>
  <!-- <input type="checkbox" name="">  cheker -->
  <div class="table_tasks">
    <div class="table_header">
      <div class="header_row">
        <div class="status">
          <div>Статус</div>
          <div class="arrow"></div>
        </div>
        <div class="clock">
          <div>Часы</div>
          <div class="arrow"></div>
        </div>
        <div class="task_description">
          <div>Описание задачи</div>
          <div class="arrow"></div>
        </div>
      </div>
    </div>
    <div class="table_body">
      
    </div>
  </div>
</div>